body,button{
    font-family: "Courier New";
    text-align: center;
}
button{
    width:calc(100% - 8px);
    margin:4px;
    min-height:32px;
}
hr{
    height: 1px;
    background-color: black;
    border: none;
}
#main{
    border-color:black;
    border-width: 1px;
    border-radius: 8px;
    border-style: solid;
}
#question{
    min-height:64px;
}