body,button, .button{
    font-family: "Courier New";
    text-align: center;
    font-size:16px;
}
body{
    background-color:#f7f7f7;
}
button, .button{
    text-decoration: none;
    color:black;
    width:calc(100% - 8px);
    display: inline-block;
    justify-content: center;
    margin:4px;
    min-height:37px;
    background-color:#f7f7f7;
    border-color:black;
    border-radius:4px;
    border-width:1px;
    border-style: solid;
    box-shadow:0 0 2px grey;
}
button:hover, .button:hover{
    background-color:#efefef;
}
button:active, .button:active{
    box-shadow:none;
    background-color:#efefef;
}
hr{
    height: 1px;
    background-color: black;
    border: none;
    margin:0;
}
h1{
    font-size:32px;
}
.main{
    border-color:black;
    border-width: 1px;
    border-radius: 8px;
    border-style: solid;
    max-width: 1024px;
    margin: auto;
    background-color:#ffffff;
    overflow: clip;
    box-shadow:0 0 4px grey;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
#question{
    min-height:64px;
}
